---
# ===============================
#  Minimal but Effective Clang-Tidy remove those from cppcoreguidelines that would are not helpful
# ===============================

Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  portability-*,
  cppcoreguidelines-*,

  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-redundant-declaration,
  -readability-uppercase-literal-suffix,

  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,

  -portability-simd-intrinsics

WarningsAsErrors: ''

HeaderFilterRegex: 'src/'

FormatStyle: none

# ==========================================
#  OPTIONS FOR SOME CHECKS
# ==========================================
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: modernize-loop-convert.MaxCopySize
    value: '16'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL,0'
