# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE Stuff
.idea/
.vscode/

# ignore the build folder
build/

# ignore the output folder
output/

# ignore the folder containing the generated doxygen documentation
docs/

# ignore the Cmake generated folders/foles
.cmake/

# remove the WSL specifc files
*:Zone.Identifier

# ignore Darinas auto generated testing folder the testing folder
Testing/

# ignore auto generated test log file
tests/LastTest.log

# ignore auto generated folder
cmake-build-debug/