name: Lint and Static Analysis

on:
  push:
    branches: ['alexandre_assignment2']
  pull_request:
    branches: ['alexandre_assignment2']

jobs:
  clang-tools:
    name: Run clang-tidy and clang-format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare APT cache
        run: mkdir -p ${{ github.workspace }}/apt-cache

      - name: Cache APT packages
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/apt-cache
          key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/*.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-

      - name: Install dependencies (using restored APT cache)
        run: |
          if [ -d "${{ github.workspace }}/apt-cache" ]; then
            sudo mkdir -p /var/cache/apt/archives
            sudo cp -r ${{ github.workspace }}/apt-cache/*.deb /var/cache/apt/archives/ 2>/dev/null || true
          fi

          sudo apt-get update
          sudo apt-get install -y clang-tidy clang-format cmake build-essential libvtk9-core-dev

          mkdir -p ${{ github.workspace }}/apt-cache
          sudo cp -r /var/cache/apt/archives/*.deb ${{ github.workspace }}/apt-cache/ || true

      # Cache CMake configuration to speed up future runs. This uses the same cache key as the build and test workflow i.e. shared across workflows.
      - name: Cache CMake configuration
        uses: actions/cache@v4
        with:
          path: |
            build/CMakeCache.txt
            build/CMakeFiles
          key: ${{ runner.os }}-cmake-${{ hashFiles('**/CMakeLists.txt') }}-${{ hashFiles('**/*.cmake') }}
          restore-keys: |
            ${{ runner.os }}-cmake-

      - name: Configure project
        run: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON # needed for clang-tidy include path detection

      - name: Run clang-tidy
        run: cmake --build build --target run_clang_tidy

      - name: Run clang-format check
        run: cmake --build build --target clang_format_check
